.node {
  flex: 1 1 auto;
}

/****************** PARENT ******************/

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent__add,
.parent__remove {
  visibility: hidden;
  cursor: pointer;
}

.parent:hover .parent__add,
.parent:hover .parent__remove {
  visibility: visible;
}

.parent__circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  min-width: 30px;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #bdd9bf;
}

/****************** CHILDREN ******************/

.children {
  display: flex;
  margin: 14px 0;
}
