.node {
  flex: 1 1 auto;
}

/****************** PARENT ******************/

.parent {
  display: flex;
  justify-content: center;
}

.parent__add,
.parent__remove {
  visibility: hidden;
  cursor: pointer;
}

.parent:hover .parent__add,
.parent:hover .parent__remove {
  visibility: visible;
}

.parent__circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid red;
}

/****************** CHILDREN ******************/

.children {
  display: flex;
}
