.tree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 40px);
  margin: 30px auto;
  box-sizing: border-box;
  overflow: scroll;
}

.tree .large-action-btn {
  width: 40vw;
  min-width: 275px;
}
